In [29]:
import pandas as pd
import matplotlib.pyplot as plt

In [35]:
class DataQuality:
    def __init__ (self, dataframe ):
        self.df = dataframe
        
    def analise_numerica(self): # Analisando as colunas numericas
        return self.df.describe()
    
    def contagem_nulos(self): # Exibe a contagem dos valores nulos por coluna
        return self.df.isnull().sum()
    
    def valores_unicos(self): # Exibindo a contagem dos valores unicos por coluna
        return self.df.nunique()

In [31]:
df = pd.read_csv('G:/Meu Drive/Santander Coders/Modulo 3 - Técnicas de Programação/CSV Atletas/Atletas_ricos.csv')

In [36]:
dq = DataQuality(df) # Instancia da classe DataQuality

In [33]:
dq.contagem_nulos()

S.NO                     0
Name                     0
Nationality              0
Current Rank             0
Previous Year Rank      24
Sport                    0
Year                     0
earnings ($ million)     0
dtype: int64

In [34]:
dq.valores_unicos()

S.NO                    301
Name                     82
Nationality              22
Current Rank             10
Previous Year Rank       36
Sport                    29
Year                     30
earnings ($ million)    198
dtype: int64

In [38]:
dq.analise_numerica().round(2)

         S.NO  Current Rank     Year  earnings ($ million)
count  301.00        301.00   301.00                301.00
mean   151.00          5.45  2005.12                 45.52
std     87.04          2.85     9.06                 33.53
min      1.00          1.00  1990.00                  8.10
25%     76.00          3.00  1997.00                 24.00
50%    151.00          5.00  2005.00                 39.00
75%    226.00          8.00  2013.00                 59.40
max    301.00         10.00  2020.00                300.00