In [5]:
# Para importar o DataQuality
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.path.dirname("Testes.ipynb"), '..')))

# Importando Classe DataQuality
from DataQuality import DataQuality

In [6]:
x = DataQuality("../data/Forbes_Richest_Atheletes_1990_2020.csv")

In [7]:
x.analise_numerica()

             S.NO  Current Rank         Year  earnings ($ million)
count  301.000000    301.000000   301.000000            301.000000
mean   151.000000      5.448505  2005.122924             45.516279
std     87.035433      2.850995     9.063563             33.525337
min      1.000000      1.000000  1990.000000              8.100000
25%     76.000000      3.000000  1997.000000             24.000000
50%    151.000000      5.000000  2005.000000             39.000000
75%    226.000000      8.000000  2013.000000             59.400000
max    301.000000     10.000000  2020.000000            300.000000