In [5]:
#libs
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Para importar o DataQuality
import sys
import os
sys.path.append(os.path.abspath(os.path.join(os.path.dirname("Testes.ipynb"), '..')))

# Importando Classe DataQuality
from DataQuality import DataQuality

In [6]:
x = DataQuality("../data/Forbes_Richest_Atheletes_1990_2020.csv")

In [7]:
x.analise_numerica()

             S.NO  Current Rank         Year  earnings ($ million)
count  301.000000    301.000000   301.000000            301.000000
mean   151.000000      5.448505  2005.122924             45.516279
std     87.035433      2.850995     9.063563             33.525337
min      1.000000      1.000000  1990.000000              8.100000
25%     76.000000      3.000000  1997.000000             24.000000
50%    151.000000      5.000000  2005.000000             39.000000
75%    226.000000      8.000000  2013.000000             59.400000
max    301.000000     10.000000  2020.000000            300.000000

In [10]:
data_info = pd.DataFrame(x.df.info())
data_info.reset_index()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 301 entries, 0 to 300
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   S.NO                  301 non-null    int64
 1   Name                  301 non-null    object
 2   Nationality           301 non-null    object
 3   Current Rank          301 non-null    int64
 4   Previous Year Rank    277 non-null    object
 5   Sport                 301 non-null    object
 6   Year                  301 non-null    int64
 7   earnings ($ million)  301 non-null    float64
dtypes: float64(1), int64(3), object(4)
memory usage: 18.9+ KB

Empty DataFrame
Columns: [index]
Index: []

In [22]:
df_tipos = pd.DataFrame(x.df.dtypes).reset_index()
df_tipos.columns = ["colunas","tipo_dados"]

df_tipos

                colunas tipo_dados
0                  S.NO      int64
1                  Name     object
2           Nationality     object
3          Current Rank      int64
4    Previous Year Rank     object
5                 Sport     object
6                  Year      int64
7  earnings ($ million)    float64